<a href="https://colab.research.google.com/github/gjghwjdgh/Python/blob/master/003_for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sub = ['국','영','수','정보']
for i in range(len(sub)) :
  print(i+1,'교시', sub[i])

1 교시 국
2 교시 영
3 교시 수
4 교시 정보

In [4]:
sub = ['국','영','수','정보']
for i in range(len(sub)) :
  if sub[i] == '수' :
   print(i+1,'교시', sub[i],'해당')
  else :
   print(i+1,'교시', sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당
4 교시 정보 해당없음

In [6]:
for i, val in enumerate(sub) :
  print(i+1,val)

1 국
2 영
3 수
4 정보

In [7]:
for i in range(1,11):
  if i % 2==0:
    print('파이썬')
  else :
    print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬