<a href="https://colab.research.google.com/github/gjghwjdgh/Python/blob/master/004_pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas


*   판다스란 행과 열로 된 데이터 처리 라이브러리입니다.
*   numpy와 같이, 데이터를 가공하고 처리하는 것에 특화된 라이브러리

# Pandas의 두가지 기본 구조

*   Vector 형태의 Series
*   Matrix 형태의 DataFrame

In [0]:
import pandas as pd

In [2]:
list_tmp = [1,2,3]
list_tmp

[1, 2, 3]

In [0]:
s1 = pd.core.series.Series([1,2,3])

In [0]:
s2 = pd.core.series.Series(['일','이','삼'])

In [6]:
pd.DataFrame(data=dict(num=s1, word=s2))

   num word
0    1    일
1    2    이
2    3    삼

In [0]:
num_se = pd.Series([1,2,3,4,5])
num_df = pd.DataFrame([1,2,3,4,5], index=[1,2,3,4,5])

In [10]:
print(num_se)
print(num_df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   0
1  1
2  2
3  3
4  4
5  5