<a href="https://colab.research.google.com/github/gjghwjdgh/Python/blob/master/2%EC%9D%BC__2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = input('당신의 이름을 입력하시오 : ')
a

당신의 이름을 입력하시오 : hey

'hey'

In [6]:
b = input('당신의 나이를 입력하시오 : ')
b

당신의 나이를 입력하시오 : 10

'10'

In [7]:
type(b)

str

In [9]:
c = int(b)
c, type(c)

(10, int)

In [16]:
year = int(input('출생년도를 입력하시오 : '))
print('당신은 ',year,'년도에 태어났습니다.')
age = 2020-year+1
print('당신의 나이는 ',age,'세 입니다')

출생년도를 입력하시오 : 2002
당신은  2002 년도에 태어났습니다.
당신의 나이는  19 세 입니다

**Format**
서식지정자

In [18]:
s='a is {}'
s.format('apple')

'a is apple'

In [20]:
a='%s %d 개 가격은 %.2f $'
b= a%('햄버거',2,4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f $
햄버거 2 개 가격은 8.00 $

In [22]:
# 치킨 2마리 가격은 40000원
a = '%s %d마리 가격은 %d 원'
b = a%('햄버거',2,20000*2)
print(b)

햄버거 2마리 가격은 40000 원