# format_for_list

In [1]:
s = '{} {} {}'
f = s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [2]:
s = '{}이는 {}와 {}를 좋아한다'
f = s.format('대건','윤기','찬빈')
print(f)

대건이는 윤기와 찬빈를 좋아한다

In [3]:
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format('대건','30312','인천대학교')
print(f)

대건이는 30312번이고 인천대학교에 진학했다

In [4]:
name = '석찬'
num = 30103
add = '인천시 연수구'
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format(name,num,add)
print(f)

석찬이는 30103번이고 인천시 연수구에 진학했다

In [5]:
name = input("이름입력 : ")
num = input("학번입력 : ")
add = input("주소입력 : ")
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format(name,num,add)
print(f)

이름입력 : 허대범
학번입력 : 허대범
주소입력 : 허대범
허대범이는 허대범번이고 허대범에 진학했다

In [6]:
stu = input('이름 학번 주소 : ').split()

이름 학번 주소 : 허허허 허허헣 허허허허ㅓㅎ

In [7]:
stu

['허허허', '허허헣', '허허허허ㅓㅎ']

In [8]:
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format(stu[0],stu[1],stu[2])
print(f)

허허허이는 허허헣번이고 허허허허ㅓㅎ에 진학했다

### [문제1] 다음과 같은 양식으로 출력하기
- 햄버거/2/4 입력하면
- 햄버거 2개 값은 8 달라입니다

In [9]:
stu = input('먹을꺼/갯수/가격 : ').split('/')
s = '{} {}개 값은 {}달러입니다.'
f = s.format(stu[0],stu[1],int(stu[1])*int(stu[2]))
print(f)

먹을꺼/갯수/가격 : 과자/12/3
과자 12개 값은 36달러입니다.

In [12]:
info = '%d %s %f'
pr = info%(20,'인천',0.05)
print(pr)

20 인천 0.050000

In [ ]:
info = '%d년도 %s여고 %f퍼센트'
pr = info%(20,'인천',0.05)
print(pr)

### [문제2] 햄버거 2개는 8달라이다.

In [17]:
info = '%s %d개 %d달러'
pr = info%("햄버거",2,2*4)
print(pr)

햄버거 2개 8달러

### List

In [18]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [23]:
arr = ['허대범','허때범','허때뻠','허떄뻠']
arr

['허대범', '허때범', '허때뻠', '허떄뻠']

In [21]:
arr[0]

'허대범'

In [25]:
len(arr)

4

In [30]:
for i in range(len(arr)) :
    print(arr[i])

허대범
허때범
허때뻠
허떄뻠

In [32]:
for i,val in enumerate(arr) :
    print(arr[i])

허대범
허때범
허때뻠
허떄뻠

In [34]:
for i,val in enumerate(arr) :
    print(i+1,'번',val)

1 번 허대범
2 번 허때범
3 번 허때뻠
4 번 허떄뻠

### [문제1] 30부터 50까지 출력해보기

In [40]:
for i in range(30,51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### [문제2] 30부터 50까지 홀수만 출력

In [47]:
for i in range(30,51) :
    if(i%2 != 0) :
       print(i)

31
33
35
37
39
41
43
45
47
49

### [문제3] 30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [50]:
sum = 0
for i in range(30,51) :
    if(i%2 != 0) :
           sum = sum + i
print(sum)

400

### [문제4] 
- 1부터 10까지 중에서
- 짝수이면 파이썬
- 홀수이면 야 너도 할수있어 출력

In [54]:
for i in range(0,10) :
    if(i%2 != 0) :
           print(i+1,"야 너도 할수있어")
    else : 
           print(i+1,"파이썬")

1 파이썬
2 야 너도 할수있어
3 파이썬
4 야 너도 할수있어
5 파이썬
6 야 너도 할수있어
7 파이썬
8 야 너도 할수있어
9 파이썬
10 야 너도 할수있어