<a href="https://colab.research.google.com/github/gjghwjdgh/Python/blob/master/%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
jumsu = [100,75,67,45,80]
for i, val in enumerate(jumsu) :
  if val >= 60 :
    print("%d 번 학생은 합격입니다."%(i+1))
  else : 
    print("%d 번 학생은 불합격입니다."%(i+1))

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
3 번 학생은 합격입니다.
4 번 학생은 불합격입니다.
5 번 학생은 합격입니다.

In [0]:
import pandas as pd

In [0]:
gu = [['서울',100,23,5],['부산',120,30,1],['인천',123,40,6],['광주',40,1,20],['대전',70,20,2]]
df = pd.DataFrame(gu)

In [0]:
df.columns=['지역','병상','확진자','사망자']
df.index=[1,2,3,4,5]
df

   지역   병상  확진자  사망자
1  서울  100   23    5
2  부산  120   30    1
3  인천  123   40    6
4  광주   40    1   20
5  대전   70   20    2